main {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 20px;
}

.search {
    display: flex;
    justify-content: space-between;
}

form {
    display: flex;
}

input,
select {
    height: 40px;
    width: 175px;
    padding: 0 5px;
    font-size: 1.1em;
}

button {
    height: 40px;
    width: 40px;
}

.list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 200px;
    gap: 20px;
}

.card {
    padding: 10px;
    background: rgb(84, 84, 84);
    border: 1px solid white;
    border-radius: 3px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
    color: white;
    text-align: center;

    display: grid;
    grid-template-rows: 40%;
    justify-items: center;
    align-items: center;
}

.card h2,
.card p {
    margin: 0;
}

.card .icons {
    font-size: 2em;
}

.card .latin {
    font-style: italic;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
